.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
   header {
    background-color: #34495e;  
    padding: 20px;
    color: white;
    text-align: center;
  }
  
    main {
    flex: 1;      
    padding: 20px;
  }
  
  
  