.reviewsList {
    margin-top: 20px;
    padding: 1rem;
    border-top: 1px solid #ccc;
  }
  
  .review {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .review p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
  
  .review p:first-of-type {
    font-weight: bold;
  }
  
  .reviewsEmptyMessage {
    font-style: italic;
    color: #777;
  }
  