.homeContent {
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
}

.homeContent h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.homeContent p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.homeContent img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dishesContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  padding: 1rem;
}

.cardContent h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.cardContent .price {
  font-size: 1.1rem;
  color: #555;
  margin: 0.5rem 0;
}

.cardContent .discount {
  color: #d9534f;
  font-weight: bold;
}

.price {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.discountPrice {
  font-weight: bold;
  color: #e74c3c;
  }
