.meals-list {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
    .meals-list h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
    .meal {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
  }
  
    .meal:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .meal h3 {
    color: #555;
    margin: 0 0 10px;
  }
  
  .meal p {
    margin: 5px 0;
    color: #666;
  }
  
    .meal p:last-child {
    font-weight: bold;
    color: #007BFF; 
  }
  
  .meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;  
  }